<div class="container mt-4">
  <h2 class="mb-3">All Consultations</h2>

  <table class="table table-bordered table-sm table-hover">
    <thead>
      <tr>
        <th>Appointment Date</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Symptoms</th>
        <th>Physical Exam</th>
        <th>Tests</th>
        <th>Treatment Plan</th>
        <th>Prescription</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of consultations">
        <td>{{ c.appointmentDate }}</td>
        <td>{{ c.doctorName }}</td>
        <td>{{ c.patientName }}</td>
        <td>{{ c.symptoms }}</td>
        <td>{{ c.physicalExam }}</td>
        <td>{{ c.recommendedTests }}</td>
        <td>{{ c.treatmentPlan }}</td>
        <td>{{ c.prescription }}</td>
      </tr>
    </tbody>
  </table>
</div>
